<div class="classic-events about" id="about">
  <div class="wrapper">
    <h2 class="title">About Us</h2>
    <p>
      We are premium decorators for all occasion happens with your family, we make your occasion colourful, joyful, and theme based elegant decors as per your dreams within your budget and our relationship starts here. </p>
    <p>We do traditional, modern and contemporary styles of décor as per your Occasion.</p>
    <div>
      <div class="about-block">
        <h3>Why to call us</h3>
        <p>Occasions come to celebrate our emotions and happiness, the beauty of happiness and emotions are displayed in the form of décor which makes your dreams to be shared with your family.</p>
        <p> Our team make your dreams come true with new different designs and unique style as to be a remembrance for every one of your special occasion.</p>
      </div>
      <div class="about-block">
        <h3>Our Decor Services</h3>
        <ul class="list-style">
          <li>
            <h4>Banquet halls in all Hotels and Resorts</h4>
            <p>(Confluence, GRT, ITC, My Fortune, Taj Connemara, Taj Coromandal, Leela Palace, Hilton, Radisson blu, Hyatt, Crown Plaza, Feathers, Taj Fishcove, Turya, Trident, Westin etc….)</p>
          </li>
          <li>
            <h4>All wedding halls</h4>
            <p>(MRC Kalyana mandapam, Raja Muthiah, Rani Meyyammai etc…)</p>
          </li>
          <li>
            <h4>Outdoor lawns, Farm houses, houses</h4>
            <p>(VGP, Royal palms, Green coconut resort, Shelter beach resort etc…)</p>
          </li>
        </ul>

      </div>
      <div class="about-block last-block">
        <h3>What all we do</h3>
        <ul class="list-style">
          <li>Engagement décor</li>
          <li>Sangeet &amp; Mehendi decor</li>
          <li>Muhurtha mandapam &amp; Dining decor</li>
          <li>Reception, Entrance &amp; Passage decor</li>
          <li>First night room décor &amp; car decor</li>
          <li>Birthday party</li>
          <li>Get together party</li>
          <li>Casino Party &amp; Pool Party</li>
          <li>Corporate party</li>
          <li>Cocktail, DJ and Entertainment party</li>
          <li>And all theme parties</li>
        </ul>
      </div>
    </div>
  </div>
</div>
