<div class="classic-events" id="contact">
  <h2>Contact us</h2>
  <div class="wrapper">
    <div class="contact-info">
      <div class="contact-info-block">
        <h4>Call</h4>
        <ul>
          <li><a href="#" title="+91-9790999569">+91-9790999569</a></li>
        </ul>
      </div>
      <div class="contact-info-block">
        <h4>Social</h4>
        <ul class="inline">
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="contact-info-block"><
        <h4>Email</h4>
        <ul>
          <li><a href="#">subashraguram@gmail.com</a></li>
          <li><a href="#">classiceventschennai@gmail.com</a></li>
        </li>
      /div>
    </div>
  </div>
</div>
